@import '@styles/base';

@import url('https://fonts.google.com/specimen/Manrope');
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  font-family: 'Manrope', sans-serif;
  background-color: hsl(9, 33%, 49%);
  // background: linear-gradient(pink, orange);
  // animation: moveBackground 20s linear infinite;

}
body.dark-theme {
  /* Define your dark theme styles here */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  font-family: 'Manrope', sans-serif;
  background-color: hsl(209, 84%, 49%);
  // color: hsl(241, 19%, 90%);
}


@keyframes moveBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

.content{
  position: relative;
  padding: 20px;
  width: 425px;
  height: auto;
  max-height: 350px;
  border-radius: 5px;
  // color: hsl(150, 100%, 66%);
  background-color: hsl(217, 19%, 24%);
  box-shadow: 0 0 2px 1px cyan;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  text-align:center;

  &:hover{
    color: rgb(10, 13, 15);
  }
}
.contentRandom{
  position: relative;
  padding: 20px;
  width: 425px;
  height: auto;
  max-height: 350px;
  border-radius: 5px;
  // color: hsl(150, 100%, 66%);
  background-color: hsl(19, 57%, 65%);
  box-shadow: 0 0 2px 2px rgb(241, 187, 85);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  text-align:center;

  &:hover{
    color: rgb(10, 13, 15);
  }
}

.head{
  /* text-align: center; */
  color: hsl(150, 100%, 66%);
  font-size: 15px;
  letter-spacing: 5px;
  margin-top: 5px;
  padding-bottom: 10px;
}
.headRandom{
  color: hsl(325, 79%, 39%);
  font-size: 15px;
  letter-spacing: 5px;
  margin-top: 5px;
  padding-bottom: 10px;
}
.advice{
  padding-top:10px;
  padding-bottom: 2px auto;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 28px;
}
.adviceRandom{
  padding-top:10px;
  padding-bottom: 2px auto;
  align-items: center;
  justify-content: center;
  color: rgb(80, 47, 47);
  font-size: 28px;
}

 img{
  display: block;
  top: 20px;
  position: relative;
  // margin-top: 70px;
  max-width: 100vw;
  // display: block;
  align-items: center;
  margin-left: -10px;
 }
 LinearProgress{
  width: 10vw;
 }


.pause-icon {
  // position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: rgb(59, 122, 122);

}

.pauseicon:before,
.pauseicon:after {
  content: "";
  position: absolute;
  top: 2;
  bottom: 0;
  left: 10px;
  margin-left: 190px;
  width: 3px;
  height: 10px;
  background-color: #fff;

}

.pauseicon:before {
  left: 0;
}

.pauseicon:after {
  right: 0;
}
.btn{
  position: relative;
  top: 45px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: none;
  background:linear-gradient(to left, rgb(64, 189, 168), #41775c);
  cursor: pointer;
  box-shadow: 0 0 5px 5px rgb(171, 206, 211);

  &:hover{
    box-shadow: 0 0 2px 1px cyan;
    background: cyan;
  }
  

}

.btnRandom{
  position: relative;
  // position: fixed;
  // margin-top: 400px;
  top: 45px;
  // bottom: -1px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: none;
  background:linear-gradient(to left, rgb(198, 199, 171), #f79132);
  cursor: pointer;
  box-shadow: 0 0 5px 5px rgb(233, 170, 128);

  &:hover{
    box-shadow: 0 0 2px 1px rgb(236, 215, 143);
    background: rgb(233, 205, 186);
  }
  
}
.dice{
  position: relative;
  top: 2px;
  left: 17px;
  width: 2.5vw;
  height: 5vh;
  border: none;
  background:linear-gradient(to left, rgb(64, 189, 168), #c1e0d1);
  cursor: pointer;
  transition: transform 0.5s ease-in-out;

  &:hover{
    box-shadow: 0 0 2px 1px rgb(226, 222, 221);
    background: orangered;
  }
  &.rotate { /* Add new CSS class for rotation */
    transform: rotate(360deg);
  }
}

.bottom{
  display: block;
}

@media screen and (max-width: 768px) {
  .content{
    width: 80vw;
  }
  .contentRandom{
    width: 80vw;
  }
  
   img{
    max-width: 85vw;

   }
  
  .dice{
    width: 8.5vw;
  }
  
}
